.terminal-text 
{
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 12px;
    color: #ffffff;
}

.terminal-container 
{
    background-color: black;
    height : 50vw;
    width : 80vw;
}