:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.centered-container-vertical 
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.fit 
{
  width: fit-content;
}

.top-padded 
{
  padding-top: 20px;
}

.right-padded 
{
  padding-right: 20px;
}

.horizontal-flex 
{
  display: flex;
  flex-direction: row;
}

.equally-space-horizontal 
{
  justify-content: space-between;
  width: 100%;
}

.flex-item 
{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.center-single 
{
  margin: 0 auto;
}